@import url(https://fonts.googleapis.com/css?family=Neuton:400,800,200);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800);

/* Colors
 * Green - #25B010
 *
 */

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #fafafa;
}
h1, h2, h3, h4, h5, h6, p, a {
    font-family: 'Open Sans', sans-serif;
}

.title {
    text-transform: uppercase;
    font-weight: 800;
    text-align: center;
    margin: 50px 0 10px 0;
}
.title span {
    font-family: 'Neuton', sans-serif;
    text-transform: lowercase;
    font-weight: 200;
}
.title i {
    color: #25B010;
    margin-left: -10px;
}
#loc-search {
    margin-bottom: 50px;
    padding: 10px !important;
    border-bottom: 3px solid #25B010;
    background-color: #fafafa;
    height: 50px;
}
#map {
    width: 100%;
    height: 400px;
}

.controls {
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid transparent;
    box-sizing: border-box;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    height: 29px;
    margin-top: 10px;
    outline: none;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
}
.controls:focus {
    border-color: none;
}

#results {
    text-align: center;
    margin: 50px 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 40px;
}

.card {
    padding: 10px;
    text-align: center;
    border: 1px solid #eee;
    margin-bottom: 30px;
    height: 150px;
    background-color: #fff;
}
.card:hover {
    border: 1px solid #ccc;
    box-shadow: 0px 5px 10px rgba(10, 10, 10, 0.1);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.card > div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);

}
.card .fa-plus {
    display: none;
    position: absolute;
    right: 28px;
    font-size: 18px;
    color: #25B010;
    cursor: pointer;
}
.card:hover .fa-plus {
    display: inherit;
}
.address {
    opacity: 0.8;
}
.open-now i {
    margin-right: 5px;
    font-size: 18px;
    color: #25B010;
}
